.env
__pycache__/
.venv/
*.png
*.csv
.ipynb_checkpoints/
data/big_financial_data.csv/
data/*.csv
.DS_Store
Thumbs.db
Archives
# Docker files
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml

# YAML Configuration files
*.yaml
*.yml